
form{
    width: 300px;
    height: 450px;
    margin: auto;
    position: relative;
}

.form-inline{
    position: relative;
    alignment: right;
    margin-top: 4%;
}

img {
    max-width: 100%;
    width: 5%;
    height: auto;
    margin-right: 1%;
}


p{
    position: relative;
    text-align:center;
}

.col-sm-3 {
    background-color: whitesmoke;
}




