<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--Adding stylesheets to the file, the first one is the css file imported form bootsrap and the second one
  is manual styling I have written in a css file in statics directory in over to overwrite some of the bootsrap styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/mystyle2.css">
    <title>Rain Blog</title>
</head>

<body>
<!--Adding navbar to the page and including the blog's image within the navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--Adding class responsive to the image in order for it size change responsively to the page size-->
  <img src="../static/rain.jpg" alt="rain icon" class="responsive"/>
  <a class="navbar-brand" href="#">Rain Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Homepage <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Forecast</a>
      </li>
    </ul>
  </div>
  <!-- Search bar in Navbar -->
  <form1 class="form-inline">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
      aria-label="Search">
  </form1>
</nav>

<!-- break line-->
<br>
<p><a>Keep up with forecast by joining our blog!</a></p>

<!-- Sign up form-->
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="Text" class="form-control" id="exampleInputText" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember my log in details</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>